<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <table>
	<tr>
	<td>
	<img src="{{ url_for('video_feed') }}">
	</td>
	<td>BUTTON1</td><td>BUTTON2</td>
	</tr>
</table>
  </body>
</html>

